body {
    
    background-color:OldLace;
    font-family: monospace;
    font-size:medium;

    }
    
 a {

    text-decoration:none;
    color:#6666FF;
    
    }

h1 { 

    font-size: 15px;
    font-weight: bold;
    color:Crimson;

}

h2 { 

    font-size: 13px;
    font-weight: normal;
}

.baukasten {
    
    position:absolute;
    top: 50%;
    left: 50%;
    -moz-transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    
    }
    
.text {

    text-align:justify;
    text-decoration:none;
    width:400px;
    
    }



