.download {
     
        background-color:black;
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family:sans-serif;
	font-size:18px;
	padding:6px 6px;
	text-decoration:none;
	text-align:center;
	display:block;
        margin-left:auto;
        margin-right:auto;
        width: 250px;
}

.download:hover {
	background-color:Crimson;
        color:white;
}

.tldr {
     
        background-color:black;
	border-radius:8px;
	cursor:pointer;
	color:white;
	font-family:sans-serif;
	font-size:14px;
	padding:6px 6px;
	text-decoration:none;
	text-align:center;
	display:block;
        margin-left:auto;
        margin-right:auto;
        width: 60px;
}

.tldr:hover {
	background-color:Crimson;
        color:white;
}



